/*
 * Author 	: HIMANSHU GUPTA
 * Email 		: himanshucse2012@gmail.com
 * Website	:	http://www.indioweb.in/portfolio
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*
 * Basic CSS starts
 */

body{
  font-size: 3.2vw;
  font-family: 'Montserrat', sans-serif;
	font-weight: 350;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}




/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

li {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #243040;
  background-color: #ffffff;
}

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}



/* --------------------------------

Main Components

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 200px 5%;
  background-color: #9cb3a8;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
main h1, main p {
  text-align: center;
}
main h1 {
  margin-bottom: 1em;
}
main {
  font-family: "Montserrat", sans-serif;
  color: gray;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.6;
}

.navigation-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
@media only screen and (min-width: 280px) {
  main {
    padding: 250px 10%;
  }
  main h1 {
    font-size: 1.3rem;
  }
  main {
    font-size: 1.3rem;
  }
}

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #E3963E;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 23.5%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 2px;
  background-color: #ffffff;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}
.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}


.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px;
  }
}

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2F4F4F;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  padding: 0px 5% 40px calc(3% + 48px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #E3963E;
  text-transform: uppercase;
}
.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: #E3963E;
}
.cd-nav .cd-primary-nav {
  margin-top: 0px;
}
.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}
.cd-nav .cd-primary-nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #E3963E;
  display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
  color: #ffffff;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #ffffff;
}
.cd-nav .cd-contact-info {
  margin-top: 80px;
}
.cd-nav .cd-contact-info li {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: #E3963E;
}
.cd-nav .cd-contact-info a {
  color: #ffffff;
}
.cd-nav .cd-contact-info span {
  display: block;
}
.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
  font-size: 1.3rem;
}
@media only screen and (min-width: 897px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }
  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-nav .cd-half-block {
    width: 100%;
    float: left;
  }
  .cd-nav .cd-primary-nav {
    margin-top: 50px;
  }
  .cd-nav h2 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  .cd-nav .cd-primary-nav li {
    margin: 0.5rem 0;
  }
  .cd-nav .cd-primary-nav a {
    font-size: 3.7rem;
  }
  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right;
  }
  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em;
  }
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 1.3rem;
  }
}

.no-js main {
  height: 100%;
  overflow: visible;
}

.no-js .cd-nav {
  position: static;
  visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: scroll;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




h1,h2,h4,h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  text-decoration: none;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  text-decoration: none;
  margin-left: 0px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-decoration: none;
  margin-left: 0px;
  color: #E3963E;
}

p{
	margin: 10px 10px 10px 10px;
	padding:0;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a, a:link, a:visited, a:active {
  	text-decoration: none;
    color: #E3963E;!important;
    font-size: 16px;
}

a:hover{
	text-decoration: none;
	color: #CC5500;
}

a, a.hoverob:link, a.hoverob:visited, a.hoverob:active {
  	text-decoration: none;
    color: #E3963E;!important;
    font-size: 16px;
}

a.hoverob:hover
{
  text-decoration: none;
	color: #CC5500;
}


a, a.hoverobpp:link, a.hoverobpp:visited, a.hoverobpp:active {
  	text-decoration: none;
    color: #E3963E;!important;
}

a.hoverobpp:hover
{
  text-decoration: none;
	color: #CC5500;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F4F4F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2F4F4F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2F4F4F;
}

a, a.twitter-timeline:link, a.twitter-timeline:visited, a.twitter-timeline:active {
  	text-decoration: none;
    color: #E3963E;!important;
    font-size: 16px;
}

a.twitter-timeline:hover
{
  text-decoration: none;
	color: #CC5500;
}


ul {
  position: relative;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}


span{
  position: relative;
  display: inline-flex;
  width: 220px;
  height: 85px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 14px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-40px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
span a:before,
span a:after{
  position: absolute;
  content: "EIXOS NORTEADORES E TRANSVERSAIS";
  width: 220px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #CC5500;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: white;
  background: #000;
  transform: rotateY(0deg) translateZ(40px);
}
span a:after{
  color: white;
  transform: rotateX(90deg) translateZ(40px);
}
span a:hover{
  transform: translateZ(-40px) rotateX(-90deg);
}


.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;

    * {
      outline: none;
    }

    .item-slide {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;

      .text {
        display: none;
      }

      img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;

    li {
      display: block;
      width: 100%;
      height: auto;

      & button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;

        &:before {
          content: '';
          background: #fff;
          color: #fff;
          height: 2px;
          width: 20px;
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 0.6;
        }
      }

      &.slick-active {
        button {
          &:before {
            width: 40px;
            opacity: 1;
          }
        }
      }
    }
  }

  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;

    .slider {
      left: 0;
      position: absolute;
    }
  }
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;

  @media (max-width: 767px) {
    font-size: 40px;
  }

}


.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;

  img {
    max-width: 100%;
  }
}

/*
 * Basic CSS ends
 */

header .navbar {
	margin: 0;
	border-radius: 0;
	border-bottom: 1px solid white;
	box-shadow: 0 1px 15px rgba(0,0,0,0);
}
header .navbar-nav>li>a {
	margin: 15px 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 1px solid transparent;
	border-radius: 3px;
}

header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover,
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
	border: 1px solid #E97451;
  color: #E97451;
}

header .navbar-nav .dropdown-menu {
	top: 57px;
	border-radius: 3px;
	border-color: #CC5500;
}
header .navbar-nav .dropdown-menu:after,
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 0px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: relative;
	pointer-events: auto;
}

header .navbar-nav .dropdown-menu:after {
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: transparent;
	border-bottom-color: transparent;
	border-width: 8px;
	margin-right: -1px;
}

.dropdown-menu {
  width: 200px;
}
header .navbar-brand {
	padding: 0;
	height: auto;
}
header .navbar-brand img {
	position: relative;
	top: 0px;
	max-width: 250px;
}

form{font-size: 13px;}


.dropdown {
  position: absolute;
  display: block;
}



/*
 * Banner
 */

.banner {
	background: white url('../img/capa_observatorio2.jpeg');
	padding-top: 250px;
	padding-bottom: 250px;
	text-align: center;

}

.banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 48px;
	line-height: 35px;
	color: black;
}
.banner h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 25px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.055em;
}

.banner .btn {
	padding: 7px 25px;
	font-size: 15px;
	border-radius: 30px;
  background-color: #CC5500;
  color: white;
}

.btn:hover{
  background-color: #ff4500;
  color:white;
}

/*
 * default heading
 */

.default-heading {
	margin-bottom: 30px;
	text-align: center;
}
.default-heading h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px;
}

.default-heading p {
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.055em;
  font-weight: 300;
}

.default-heading h2 a, a:hover {
  text-decoration: none;
  color:white;
}

/*
 * works
 */

.works {
	padding-top: 80px;
	padding-bottom: 30px;
  color:gray;
}

.works .eixos-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
  color: #CC5500;
}


.works .eixos .eixos-item h3 a {
	margin-top: 20px;
	font-size: 20px;
  color: #CC5500;
}

.works .eixos-item .org {
	display: inline-block;
  align-items: center;
	font-size: 13px;
	font-style: bold;
	text-transform: uppercase;
  color: gray;
}


.eixos-item h3 a:visited {
  text-decoration: none;
  color: #E3963E;
}

.eixos-item h3 a:focus {
  text-decoration: none;
  color: #E3963E;
}

.eixos-item h3 a:hover {
  text-decoration: none;
  color: red;
}

/*
 * Dados
 */

.dados {
	padding-top: 80px;
	padding-bottom: 30px;
}

.dados .member {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
  color: #CC5500;
}
.dados .member h3 {
	margin-top: 20px;
	font-size: 20px;
  color: #CC5500;
}
.dados .member p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
  color: gray;
}

.member h3 a:visited {
  text-decoration: none;
  color: #E3963E;
}

.member h3 a:focus {
  text-decoration: none;
  color: #E3963E;
}

.member h3 a:hover {
  color: red;
  text-decoration: none;
}

/*
 * Equipe
 */

.equipe {
	padding-top: 120px;
	padding-bottom: 30px;
}

.equipe .membro4 {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
  align-items: center;
  color: #CC5500;
}

.equipe .membro4 h4 {
	margin-top: 20px;
	font-size: 22px;
  color: #CC5500;
}

.equipe .membro4 p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
  color: gray;
}

.equipe h4 a:visited, a:focus {
  text-decoration: none;
  color: #E3963E;
}

.equipe h4 a:hover {
  color: red;
  text-decoration: none;
}


.sobre {
  text-align: left;
  font-weight: 300;
  font-size: 1.5vw;
}

.sobre>p {
  font-size: 1.5vw;
}

.sobre-titulo {
  margin-right:0px;
  margin-left:0px;
	margin-top: 20px;
	margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}


.aimg:link {color: transparent;
text-decoration: none;
border: 0px 0px bold white;}
.aimg:hover {
box-shadow: 8px 8px 3px white;}


.aaimg:link {color: transparent;
text-decoration: none;
border: 0px 0px bold white;}
.aaimg:hover {
box-shadow: 8px 8px 3px white;}

.aaaimg:link {color: transparent;
text-decoration: none;
border: 0px 0px bold #2F4F4F;}
.aaaimg:hover {
box-shadow: 8px 8px 3px #2F4F4F;}

img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 8px 8px 3px #CC5500;
  opacity:0.8;
}


/*
 * vídeos
 */

.video {
	padding-top: 80px;
	padding-bottom: 30px;
}

.video .member2 {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
  color: #CC5500;
}
.video .member2 h4 {
	margin-top: 20px;
	font-size: 22px;
  color: #CC5500;
}
.video .member2 p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
  color: gray;
}

.member2 h4 a:visited, a:focus {
  text-decoration: none;
  color: #E3963E;
}

.member2 h4 a:hover {
  color: red;
}

.member3 h4 a:visited, a:focus {
  text-decoration: none;
  color: #E3963E;
}

.member3 h4 a:hover {
  color: red;
}



/*
 * entrevistas
 */

.entrevistas {
	padding-top: 90px;
	padding-bottom: 30px;
}

.entrevistas .member3 {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
  color: #CC5500;
}
.entrevistas .member3 h4 {
	margin-top: 20px;
	font-size: 22px;
  color: #CC5500;
}

.entrevistas .member3 h4 a:visited, a:focus {
  text-decoration: none;
  color: #E3963E;
}

.entrevistas .member3 h4 a:hover {
  color: red;
}

.entrevistas .member3 p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
  color: gray;
}

/*
 * Contact
 */

.contact {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact h3 {
	margin-top: 0px;
	font-size: 20px;
  text-decoration: none;
}

.contact p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}

footer {
	padding: 50px 0;
	background: #e32b2b;
	text-align: center;
}

footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer .container p a {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: gray;
  text-decoration: none;
}

footer .container a:hover{color: red;}

footer .social a, a:visited, a:active{
  color: gray;
  text-decoration: none;
}

footer img {
	max-width: 350px !important;
	margin: 15px auto;
	background: #E97451;
	border-radius: 4px;
}

footer .social a {
	display: inline-block;
	margin: 0 2px;
	margin-top: 5px;
	padding: 2px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	background: white;
	font-size: 14px;
	border-radius: 4px;
}

footer .social a i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 35px;
	border-radius: 3px;
	border: 1px dashed #e32b2b;
}

footer .copy-right {
	margin-top: 10px;
}

.alert .text-center .cookiealert{
  font-size: 12px;
}


/*
 * Mobile phones
 */

 @media(max-width: 290px){

   .mobile-container{display:none;}

   .cd-navigation-wrapper nav {font-size: 10px;}
   .contact p {
    padding: 0 0px;
    font-size: 12px;
    line-height: 23px;}
 }

@media (max-width: 768px){

  .mobile-container{
    display:none;
  }

  .sobre p {
     font-size: 2.5vh;
   }

  .sobre {
     padding: 10px 10px 10px 10px;
     text-align: left;
   }

  .col-md-5 {
    padding-top: 30px;
  }

  .aimg {display:inline-block;}
  .col-md-7 {float: left;}
  .col-md-6 {vertical-align: middle;}
  .carousel {display: none;}
  .carousel2-indicators {display:none;}
  .navbar-header{display:none;}
  .col-md-12 {vertical-align: middle;}
  .col-md-12 .eixos-item {
    text-align: left;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-all;
    text-align-last: left;}

    iframe {height:600px;}
}


/*
 * Tablets
 */

 @media (min-width: 769px) {

   .mobile-container {
     display:none;
   }

   .wrapper {
    width: 100%;
    height:100%;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
   }

   .carousel {
    min-height: 600px;
    margin-bottom: 10px;
   }
   /* Since positioning the image, we need to help out the caption */
   .carousel-caption {
     z-index: 10;
     }

    /* Declare heights because of positioning of img element */
    .carousel .item {
     min-height: 640px;
     background-color: #777;
     }
    .carousel-inner > .item > img {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 640px;
   }

   .col-md-6 {vertical-align: middle;}

   .col-md-12 .eixos-item {
     text-align: left;
     max-width: 100%;
     word-wrap: break-word;
     word-break: break-all;
     text-align-last: left;}

 }

 @media (min-width: 1280px) {

   h2 {
     margin-left: 100px;
     margin-right: 100px;
   }
 }

 @media (min-width: 1366px) {

   .mobile-container {
     display:none;
   }

   .navbar .navbar-default .navbar-static-top {
     font-size: 40px;
     padding-right: 20px;
   }
   .navbar-header {
     margin-right: 20px;
   }

   .carousel {
    min-height: 740px;
    margin-bottom: 60px;
   }
   /* Since positioning the image, we need to help out the caption */
   .carousel-caption {
     z-index: 10;
     }

    /* Declare heights because of positioning of img element */
    .carousel .item {
     min-height: 740px;
     background-color: #777;
     }
    .carousel-inner > .item > img {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 740px;
   }

 }

@media (min-width: 1920px){

  .mobile-container {display: none;}

	.contact .contact-container .address {
		max-width: 100%;
    max-height: 100%;
		margin: 0 auto;
	}

	.contact .contact-container form{	margin-bottom: 30px;}
	.contact .contact-container .map { margin-top: 30px; }
  .center-image {
    margin: 0 auto;
    display: block;
}



/*
 * Desktop
 */

 @media (min-width: 1920px) {


   .carousel {
    min-height: 940px;
    margin-bottom: 10px;
   }
   /* Since positioning the image, we need to help out the caption */
   .carousel-caption {
     z-index: 10;
     }

    /* Declare heights because of positioning of img element */
    .carousel .item {
     min-height: 940px;
     background-color: #777;
     }
    .carousel-inner > .item > img {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 940px;
   }

 }
